<template>
    <div>
        <nav-bar/>
        <router-view v-slot="{ Component }">
            <transition name="fade">
                <keep-alive>
                    <component :is="Component"/>
                </keep-alive>
            </transition>
        </router-view>
    </div>
    <footer>
        Crypton test task &copy; 2022
    </footer>
</template>

<script>
import Home from '@js/pages/Home';
import NavBar from '@js/components/NavBar';

export default {
  name: 'App',
  components: {
    Home, NavBar,
  },
};
</script>

<style scoped>
main {
    margin-bottom: 2em;
}

footer {
    text-align: center;
}
</style>