@import url(http://fonts.cdnfonts.com/css/sf-distant-galaxy);
@import url(https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap);
.card[data-v-7a43aa74]{padding:10px 5px 20px;background-color:rgba(128,128,128,.2);border-radius:20px;display:flex;flex-direction:column;align-items:center}.card__img[data-v-7a43aa74]{border-radius:10px;display:block;width:90%;min-height:15vw;margin-bottom:2em;transition:all 200ms ease-in;background-color:rgba(128,128,128,.5)}.card__img[data-v-7a43aa74]:hover{transform:scale(1.1);border-radius:5px}.card__wrapper[data-v-7a43aa74]{display:flex;align-items:flex-start;justify-content:space-between;width:80%}.card__name[data-v-7a43aa74]{margin-bottom:.5em;font-size:1.2em}.card__button[data-v-7a43aa74]{background-color:transparent;border:0;cursor:pointer;font-size:2em;color:tomato}.card__button .fa-heart[data-v-7a43aa74]{transition:all 200ms ease-in}.card__button:hover .fa-heart[data-v-7a43aa74]{transform:scale(1.2)}

.pagination[data-v-0e31d42c] {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
}


.not-found[data-v-bb504ba6] {
    font-size: 3em;
}

.filtration[data-v-018bdc85]{display:flex;align-items:flex-start}.filtration__search[data-v-018bdc85]{margin-right:20px}.filtration__search input[data-v-018bdc85]{background-color:rgba(128,128,128,.3);border:none;outline:none;color:#fff;padding:5px 10px;margin-right:5px}.filtration__search input[data-v-018bdc85]:focus,.filtration__search input[data-v-018bdc85]:active{border:none;outline:none}.filtration__search button[data-v-018bdc85]{background-color:rgba(128,128,128,.4);border:none;color:#fff;padding:5px 10px;transition:all 200ms ease-in}.filtration__search button[data-v-018bdc85]:hover{background-color:rgba(128,128,128,.5);transform:scale(1.2);border-radius:5px}.filtration__filters[data-v-018bdc85]{display:flex;flex-direction:column;padding:0 5px;margin-right:5px}.filtration__filters span[data-v-018bdc85]{font-family:"SF Distant Galaxy","Arial","Helvetica",sans-serif}.filtration__filters-wrapper[data-v-018bdc85]{display:flex;justify-content:space-between;align-items:flex-start}.filtration__reset[data-v-018bdc85]{background-color:rgba(128,128,128,.4);border:none;color:#fff;padding:5px 10px;transition:all 200ms ease-in;border-radius:5px}.filtration__reset[data-v-018bdc85]:hover{background-color:rgba(128,128,128,.5);transform:scale(1.1);border-radius:5px}@media screen and (max-width: 950px){.filtration[data-v-018bdc85]{flex-direction:column;align-items:center}.filtration__search[data-v-018bdc85]{align-self:stretch}.filtration__search input[data-v-018bdc85]{width:75%}}
.navbar[data-v-014fe9bf]{margin-bottom:3em}.navbar__menu-button[data-v-014fe9bf]{background:transparent;color:#fff;border:none}.navbar__group[data-v-014fe9bf],.navbar__wrapper[data-v-014fe9bf]{display:flex;justify-content:space-between}.navbar__logo[data-v-014fe9bf]{font-family:"SF Distant Galaxy",sans-serif;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;display:block;margin:0 auto 1em;text-decoration:none;font-size:2em;color:#ff0;text-align:center;transform:perspective(300px) rotateX(20deg)}.navbar__logo p[data-v-014fe9bf]{margin-bottom:0;margin-top:0;font-size:1.5em}.navbar__logo p[data-v-014fe9bf]:last-of-type{font-size:2em}.navbar .navbar__link[data-v-014fe9bf]{font-family:"SF Distant Galaxy",sans-serif;color:#fff;font-size:1.5em;transition:all ease-in 100ms;display:block;margin-right:20px}.navbar .navbar__link[data-v-014fe9bf]:hover{transform:scale(1.1)}@media screen and (max-width: 950px){.navbar__logo[data-v-014fe9bf]{font-size:1.4em}.navbar__wrapper[data-v-014fe9bf]{background-color:rgba(0,0,0,.8);position:fixed;top:2px;z-index:1;margin-bottom:2px}.navbar__wrapper[data-v-014fe9bf],.navbar__group[data-v-014fe9bf]{flex-direction:column;width:100%;text-align:center}.navbar__menu-button[data-v-014fe9bf]{font-size:2em;position:absolute;right:25px}}

main[data-v-86b0980e] {
    margin-bottom: 2em;
}
footer[data-v-86b0980e] {
    text-align: center;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.page{min-height:70vh;display:flex;flex-direction:column;align-items:stretch}.page__list{display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:30px;margin-bottom:2em}.page__message{font-size:3em;text-align:center;margin-bottom:2em}@media screen and (max-width: 1400px){.page__list{grid-template-columns:repeat(3, 1fr)}}@media screen and (max-width: 1000px){.page__list{grid-template-columns:repeat(2, 1fr)}}@media screen and (max-width: 950px){.page__list{grid-template-columns:1fr}}body{font-family:"News Cycle","Arial","Helvetica",sans-serif;font-size:16px;background-color:#000;color:#fff;background-image:url(8ecbce99fc69bd4d7550.svg);background-repeat:no-repeat;background-size:15vw;background-position:right 0 top 5em;background-attachment:fixed}body a{color:#fff}body h1{font-weight:normal;margin-left:2em;font-family:"SF Distant Galaxy","Arial","Helvetica",sans-serif}.root{margin-top:10px}.container{max-width:1400px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px}.distant-galaxy{font-family:"SF Distant Galaxy","Arial","Helvetica",sans-serif}@media screen and (max-width: 1800px){body{background-image:none}}@media screen and (max-width: 1000px){body{font-size:20px}}@media screen and (max-width: 950px){body{font-size:24px}body h1{margin-left:0}}.fade-enter-active,.fade-leave-active{transition:opacity .5s ease}.fade-enter-from,.fade-leave-to{opacity:0}

/*# sourceMappingURL=main.css.map*/