<template>
    <div class="page">
        <h1>Favorites</h1>
        <transition-group tag="div" class="page__list" v-if="!_.isEmpty(list)">
            <card class="page__card" v-for="person in list" :person="person" :key="`favorite-person_${person.id}`"
            />
        </transition-group>
        <div v-else class="page__message">Favorites list is empty</div>
        <pagination :parent="'Favorites'" key="pagination-favorites"/>
    </div>
</template>

<script setup>
import {computed} from 'vue';
import {useStore} from 'vuex';
import {useRoute} from 'vue-router';
import Card from '@js/components/PagesParts/Card';
import Pagination from '@js/components/PagesParts/Pagination';
import _ from 'lodash';

const store = useStore();
const route = useRoute();
const list = computed(() => {
  return store.getters.getFavorites(route.params.page || 1);
});

</script>

<style scoped>

</style>