<template>
    <div>
        <h1>Home</h1>
        <div class="page__list" v-if="!_.isEmpty(personsList)">
            <card class="page__card" v-for="person in personsList" :person="person" :key="`person_${person.id}`"
            />
        </div>
        <div v-else-if="count.value === 0" class="page__message"> Nothing found</div>
        <div v-else class="page__message">Fetching...</div>
        <pagination parent="Home" key="pagination-home"/>
    </div>
</template>

<script setup>
import {computed, watch, onBeforeMount} from 'vue';
import {useStore} from 'vuex';
import {useRoute} from 'vue-router';
import Card from '@js/components/PagesParts/Card';
import Pagination from '@js/components/PagesParts/Pagination';
import _ from 'lodash';

const store = useStore();
const route = useRoute();
const count = computed(() => store.state.count);
const personsList = computed(() => store.state.personsList);
onBeforeMount(() => store.dispatch('getPersons'));
watch(
    () => route.params.page, (page) => {
      store.dispatch('getPersons', page);
    },
);
</script>

<style lang="scss">

</style>