.page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;


  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 2em;
  }

  &__message {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;

  }
}

@media screen and (max-width: 1400px) {
  .page {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1000px) {
  .page {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 950px) {
  .page {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}