@import 'normalize.css';
@import url('http://fonts.cdnfonts.com/css/sf-distant-galaxy');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
@import 'pages.scss';
body {
  font-family: 'News Cycle', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  background-image: url('../assets/img/Darth Vader.svg');
  background-repeat: no-repeat;
  background-size: 15vw;
  background-position: right 0 top 5em;
  background-attachment: fixed;

  a {
    color: white
  }

  h1 {
    font-weight: normal;
    margin-left: 2em;
    font-family: 'SF Distant Galaxy', 'Arial', 'Helvetica', sans-serif;
  }
}

.root {
  margin-top: 10px;

}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.distant-galaxy {
  font-family: 'SF Distant Galaxy', 'Arial', 'Helvetica', sans-serif;
}

@media screen and (max-width: 1800px) {
  body {
    background-image: none;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  body {
    font-size: 24px;

    h1 {
      margin-left: 0;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}