<template>
    <nav class="navbar">
        <router-link to="/" class="navbar__logo"><p>Star Wars</p>
            <p>Heroes</p>
        </router-link>

        <div class="navbar__wrapper">
            <transition name="fade">
                <div class="navbar__group" v-show="showNavBar">
                    <router-link to="/" class="navbar__link">Home</router-link>
                    <router-link to="/favorites" class="navbar__link">Favorites</router-link>
                </div>
            </transition>
            <transition name="fade">

                <filtration v-show="showNavBar"/>
            </transition>
            <button @click.prevent="toggleNavBar" v-if="screenWidth <951" class="navbar__menu-button">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
</template>

<script setup>
import {ref} from 'vue';
import Filtration from '@js/components/NavBarParts/Filtration';

const screenWidth = ref(window.innerWidth);
const showNavBar = ref(true);
const toggleNavBar = () => {
  showNavBar.value = !showNavBar.value;
};

window.addEventListener('resize', () => {
  screenWidth.value = window.innerWidth;
  if (!showNavBar.value) {
    showNavBar.value = screenWidth.value > 950;
  }
});
</script>

<style scoped lang="scss">
.navbar {
  margin-bottom: 3em;

  &__menu-button {
    background: transparent;
    color: white;
    border: none;
  }

  &__group, &__wrapper {
    display: flex;
    justify-content: space-between;

  }

  &__logo {
    font-family: 'SF Distant Galaxy', sans-serif;
    width: fit-content;
    display: block;
    margin: 0 auto 1em;
    text-decoration: none;
    font-size: 2em;
    color: yellow;
    text-align: center;
    transform: perspective(300px) rotateX(20deg);

    p {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 1.5em;


      &:last-of-type {
        font-size: 2em;
      }
    }
  }

  .navbar__link {
    font-family: 'SF Distant Galaxy', sans-serif;
    color: white;
    font-size: 1.5em;
    transition: all ease-in 100ms;
    display: block;
    margin-right: 20px;


    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    &__logo {
      font-size: 1.4em;
    }

    &__wrapper {
      background-color: rgba(black, 0.8);
      position: fixed;
      top: 2px;
      z-index: 1;
      margin-bottom: 2px;
    }

    &__wrapper, &__group {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    &__menu-button {
      font-size: 2em;
      position: absolute;
      right: 25px;
    }
  }
}
</style>