<template>
    <div class="filtration">
            <div class="filtration__search">
                <input type="text" v-model="searchValue" @keyup.enter="searchPeople">
                <button @click="searchPeople"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        <div class="filtration__filters">
            <span>Gender filter:</span>
            <div class="filtration__filters-wrapper">
                <label>
                    Male
                    <input type="radio" name="gender" value="male" v-model="filterValue">
                </label>
                <label>
                    Female
                    <input type="radio" name="gender" value="female" v-model="filterValue">
                </label>
            </div>
        </div>
        <button @click="resetFilters" class="filtration__reset">Reset</button>

    </div>
</template>

<script setup>
import {ref, computed} from 'vue';
import {useStore} from 'vuex';
import {useRoute} from 'vue-router';

const route = useRoute();
const store = useStore();
const searchValue = ref('');
const toShowFavorites = ref([]);
const favorites = computed(() => store.state.favorites);
const searchPeople = () => {
  if (route.name === 'Home') {
    axios.get(`https://swapi.dev/api/people/?search=${searchValue.value}`).then(res => {
      store.dispatch('setPersons', res.data);
    });
  } else {
    store.dispatch('searchFavorites', searchValue);
  }

};
const filterValue = computed({
  get: () => store.state.filterValue,
  set: (value) => store.dispatch('setFilterValue', value),

});
const resetFilters = () => {
  if (searchValue.value) {
    route.name === 'Home' ? store.dispatch('getPersons') : store.commit('RESET_FAVORITES');
    searchValue.value = '';
  }
  store.dispatch('setFilterValue', '');
};
</script>

<style lang="scss" scoped>
.filtration {
  display: flex;
  align-items: flex-start;

  &__search {
    margin-right: 20px;

    input {
      background-color: rgba(grey, 0.3);
      border: none;
      outline: none;
      color: white;
      padding: 5px 10px;
      margin-right: 5px;

      &:focus, &:active {
        border: none;
        outline: none;
      }
    }

    button {
      background-color: rgba(grey, 0.4);
      border: none;
      color: white;
      padding: 5px 10px;
      transition: all 200ms ease-in;

      &:hover {
        background-color: rgba(grey, 0.5);
        transform: scale(1.2);
        border-radius: 5px;
      }
    }
  }

  &__filters {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin-right: 5px;

    span {
      font-family: 'SF Distant Galaxy', 'Arial', 'Helvetica', sans-serif;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__reset {

    background-color: rgba(grey, 0.4);
    border: none;
    color: white;
    padding: 5px 10px;
    transition: all 200ms ease-in;
    border-radius: 5px;

    &:hover {
      background-color: rgba(grey, 0.5);
      transform: scale(1.1);
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 950px) {
  .filtration {
    flex-direction: column;
    align-items: center;

    &__search {
      align-self: stretch;

      input {
        width: 75%;
      }
    }
  }
}
</style>