<template>
    <div class="card" v-show="filterValue ? filterValue === person.gender : true">
        <img :src="`https://starwars-visualguide.com/assets/img/characters/${person.id}.jpg`"
             :alt="person.name"
             class="card__img"
        >

        <div class="card__wrapper">
            <div class="card__context-wrapper">
                <div class="card__name distant-galaxy">{{ person.name }}</div>
                <div class="card__homeworld"> From: <span class="distant-galaxy">{{ person.homeworld }}</span>
                </div>
            </div>
            <button class="card__button" @click="toggleToFavorites">
                <i class="fa-solid fa-heart"></i>
            </button>
        </div>


    </div>
</template>

<script setup>
import {useStore} from 'vuex';
import {useRoute, useRouter} from 'vue-router';
import {computed} from 'vue';

const store = useStore();
const route = useRoute();
const router = useRouter();
const props = defineProps({
  person: Object,
  isReady: Boolean,
});
const filterValue = computed(() => store.state.filterValue);
const toggleToFavorites = () => {
  if (route.name === 'Home') {
    store.dispatch('addToFavorites', props.person);
    router.push({name: 'Favorites'});
  } else {
    store.dispatch('removeFromFavorites', props.person.id);

  }
};
</script>

<style scoped lang="scss">
.card {
  padding: 10px 5px 20px;
  background-color: rgba(grey, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__img {
    border-radius: 10px;
    display: block;
    width: 90%;
    min-height: 15vw;
    margin-bottom: 2em;
    transition: all 200ms ease-in;
    background-color: rgba(grey, 0.5);


    &:hover {
      transform: scale(1.1);
      border-radius: 5px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
  }

  &__name {
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }

  &__homeworld {
  }

  &__button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 2em;
    color: Tomato;

    .fa-heart {
      transition: all 200ms ease-in;

    }

    &:hover .fa-heart {
      transform: scale(1.2);
    }
  }
}
</style>