<template>
<div class="pagination" v-if="pagesCount > 1">
    <router-link :to="{name: parent, params: {page}}" v-for="page in pagesCount">{{ page }}</router-link>
</div>
</template>

<script setup>
import {computed} from 'vue';
import {useStore} from 'vuex';

const props = defineProps({
  parent: String,
});
const store = useStore();
const pagesCount = computed(() => {
  const count = props.parent === 'Home' ? store.state.count : store.state.favorites.length;
  return (count > 10) ? Math.ceil(count / store.state.perPage) : 1;
});


</script>

<style scoped>
.pagination {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
}
</style>